.collections {
  width: 90%;
  margin: 30px auto;
  max-width: 1400px;

  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.left {
  flex: 1;
  position: sticky;
  top: 90px;
  height: fit-content;
}

.left > p {
  font-size: 22px;
  font-weight: 500;
}

.category-filter, .subcategory-filter {
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 12px;
}

.category-filter > p, .subcategory-filter > p {
  font-weight: 500;
}

.filter-box p {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* THE RIGHT SIDE */
/* THE RIGHT SIDE */
/* THE RIGHT SIDE */


.right {
  flex: 4;
}

.rs-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rs-head select {
  border: 0.8px solid rgb(107,114,128);
  padding: 3px 5px;
  width: fit-content;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}


@media (max-width: 950px) {
  .collection-grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}


@media (max-width: 700px) {
  .collection-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

/* @media (max-width: 767px) {
  
} */